.App{
  background-color: rgb(56, 56, 56);
  z-index: 0;
}

.logo {
  width: 100px;
  z-index: 5;
  margin-left: 20px;
  margin-top: 20px;
}

.header-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}


.header-select {
  display: flex; 
  align-items: center;
  color:rgb(240, 240, 240);
}

.header-row p {
  margin-right: 5px;
}

.header-row select {
  height: 20px;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.header h3 {
  color:rgb(240, 240, 240);
  margin: 30px;
}

.display-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.transition {
  opacity: 0;
  transition: opacity 750ms ease-in;
}

.transition.appear {
  opacity: 1;
}

.card {
  display: flex;
  flex-flow: row;
  margin-bottom: 5%;
  background-color: rgb(68, 68, 68);
  height: 170px;
}

.poster {
  width: 150px;
}

.info {
  display: flex; 
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start ;
  margin-left: 3%;
  margin-bottom: 5%;
}

.rating {
  color:rgb(240, 240, 240)
} 

.title {
  color:rgb(240, 240, 240);
}

.genres {
  margin-left: 10px;
  color:rgb(173, 173, 173)
}

.titleDiv {
  margin-top: -30px;
  display: flex;
}

.title p :nth-child(1) {
  margin-left: 10px; 
}

.trailer-link {
  color:rgb(240, 240, 240);
  margin-top: 10px;
  text-decoration: none;
}

.homepage-link{
  color:rgb(173, 173, 173);
  font-size: .7em;
  text-decoration: none;
} 